# Virtual environment
venv/
env/

# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Log files
*.log

# VS Code settings
.vscode/

# Environment variables
.env

# Dependencies
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db

# Configurasi DB
config/db_config.json